<% @title = '汽车团购优惠券' %>
<div class="column row coupon">
  <h1><%= @title %></h1>
  <ul class="filter">
    <li>
      <span class="field">品牌：</span>
      <ul class="option">
        <li>全部</li>
        <li>比亚迪</li>
        <li>北汽</li>
        <li>江淮</li>
      </ul>
    </li>
    <li>
      <span class="field">类型：</span>
      <ul class="option">
        <li>全部</li>
        <li>纯电</li>
        <li>汽油</li>
        <li>混动</li>
      </ul>
    </li>
    <li>
      <span class="field">排序：</span>
      <ul class="option">
        <li>默认</li>
        <li>面额</li>
        <li>价格</li>
      </ul>
    </li>
    <li>
      <span class="field">搜索：</span>
      <input type="text" placeholder="关键字" class="search" />
    </li>
  </ul>
</div>
<div class="coupon">
  <div class="row">
    <div class="small-9 columns">
      <div class="callout coupon">
        <h3>比亚迪 E6 <small>豪华版</small></h3>
        <p>
          <span class="field">面额：</span>6000元<br/>
          <span class="field">价格：</span><span class="red">500元</span>
        </p>
      </div>
    </div>
    <div class="small-3 columns">
      <%= link_to '购买', car_selling_coupon_payment_path, class: 'success button' %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div class="callout coupon">
        <h3>比亚迪 E6 <small>精英版</small></h3>
        <p>
          <span class="field">面额：</span>9000元<br/>
          <span class="field">价格：</span><span class="red">500元</span>
        </p>
      </div>
    </div>
    <div class="small-3 columns">
      <button type="button" class="button">购买</button>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div class="callout coupon">
        <h3>比亚迪 E5</h3>
        <p>
          <span class="field">面额：</span>3000元<br/>
          <span class="field">价格：</span><span class="red">500元</span>
        </p>
      </div>
    </div>
    <div class="small-3 columns">
      <button type="button" class="button">购买</button>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <div class="callout coupon">
        <h3>比亚迪 S7 Plus <small>旗舰版/尊贵版</small></h3>
        <p>
          <span class="field">面额：</span>9000元<br/>
          <span class="field">价格：</span><span class="red">500元</span>
        </p>
      </div>
    </div>
    <div class="small-3 columns">
      <button type="button" class="button">购买</button>
    </div>
  </div>
</div>